#textdomain wesnoth
# 2p-Despair v.1 (updated for Wesnoth 1.9.5)
# by Dovolente - April 2011

[multiplayer]
    id=WOL_MP_Despair
    name= _ "2p - Despair"
    map_file=despair.map
    description= _ "A challenging 2v2."
    {DEFAULT_SCHEDULE}
    {DEFAULT_MUSIC_PLAYLIST}
    experience_modifier=60%

    [side]
        side=1
        team_name=Friends
        user_team_name= _ "teamname^Friends"
        team_lock=yes
        controller=human
        gold=75
        income=2
    [/side]

    [side]
        side=2
        team_name=Friends
        user_team_name= _ "teamname^Friends"
        team_lock=yes
        controller=human
        gold=75
        income=2
    [/side]

    [side]
        side=3
        controller=ai
        allow_player=no
        #[ai]
        #   aggression=1
        #   caution=0.0
        #[/ai]
        team_name=Foes
        user_team_name= _ "teamname^Foes"
        team_lock=yes
        hidden=yes
        village_gold=4
        income=6
        faction=Custom
        recruit="Bowman","Cavalryman","Fencer","Heavy Infantryman","Horseman","Mage","Merman Fighter","Spearman","Elvish Archer","Elvish Fighter","Elvish Scout","Elvish Shaman","Merman Hunter","Wose","Goblin Spearman","Naga Fighter","Orcish Archer","Orcish Assassin","Orcish Grunt","Troll Whelp","Wolf Rider","Dark Adept","Ghost","Ghoul","Skeleton","Skeleton Archer","Vampire Bat","Walking Corpse","Dwarvish Fighter","Dwarvish Guardsman","Dwarvish Thunderer","Dwarvish Ulfserker","Footpad","Gryphon Rider","Poacher","Thief","Drake Burner","Drake Clasher","Drake Fighter","Drake Glider","Saurian Augur","Saurian Skirmisher",Dune Rover,Dune Soldier,Dune Skirmisher,Dune Rider,Dune Herbalist,Dune Burner,Naga Dirkfang
    [/side]

    [side]
        side=4
        controller=ai
        allow_player=no
        #[ai]
        #   aggression=1
        #   caution=0.0
        #[/ai]
        team_name=Foes
        user_team_name= _ "teamname^Foes"
        team_lock=yes
        hidden=yes
        village_gold=4
        income=6
        faction=Custom
        recruit="Bowman","Cavalryman","Fencer","Heavy Infantryman","Horseman","Mage","Merman Fighter","Spearman","Elvish Archer","Elvish Fighter","Elvish Scout","Elvish Shaman","Merman Hunter","Wose","Goblin Spearman","Naga Fighter","Orcish Archer","Orcish Assassin","Orcish Grunt","Troll Whelp","Wolf Rider","Dark Adept","Ghost","Ghoul","Skeleton","Skeleton Archer","Vampire Bat","Walking Corpse","Dwarvish Fighter","Dwarvish Guardsman","Dwarvish Thunderer","Dwarvish Ulfserker","Footpad","Gryphon Rider","Poacher","Thief","Drake Burner","Drake Clasher","Drake Fighter","Drake Glider","Saurian Augur","Saurian Skirmisher",Dune Rover,Dune Soldier,Dune Skirmisher,Dune Rider,Dune Herbalist,Dune Burner,Naga Dirkfang
    [/side]

    [event]
        name=start
        [message]
            speaker=narrator
            message= _ "<span size='large' font-style='italic'>Despair</span>
- Slain enemies drop random items. If using drop mod..."
            duration=30
            image=wesnoth-icon.png
        [/message]
    [/event]

    [event]
        name=die
        first_time_only=no
        [filter]
            canrecruit=yes
        [/filter]
        {STORE_UNIT_VAR x,y=$x1,$y1 side deadleader_side}
        [message]
            speaker=unit
            message=_ "Curse you, $second_unit.race!"
        [/message]
        {PLACE_IMAGE items/bones.png $x1 $y1}
        [kill]
            animate=yes
            fire_event=no
            side=$deadleader_side
        [/kill]
    [/event]
[/multiplayer]
