#textdomain wesnoth
# 3p Cutthroat v4.2 (update for Wesnoth 1.9.4)
# by Dovolente - March 2011

#define CUT_SPAWN SIDE TYPE X Y
    [unit]
        side=1
        type={TYPE}
        x={X}
        y={Y}
        animate=yes
        random_traits=no
        moves=0
        placement=map
        passable=yes
    [/unit]
#enddef

#define CUT_LEFT TYPE
    {CUT_SPAWN 2 {TYPE} 6 10}
    {CUT_SPAWN 3 {TYPE} 13 15}
    {CUT_SPAWN 4 {TYPE} 14 7}
#enddef

#define CUT_RIGHT TYPE
    {CUT_SPAWN 2 {TYPE} 9 15}
    {CUT_SPAWN 3 {TYPE} 16 10}
    {CUT_SPAWN 4 {TYPE} 8 7}
#enddef

#define CUT_WAVE NUMBER SIDESPAWN
    [event]
        name=turn {NUMBER}
        {SIDESPAWN}
    [/event]
#enddef

[multiplayer]
    id=Dov_MP_Cutthroat
    name= _ "3p - Cutthroat"
    map_file=~add-ons/Dovs_Maps_Mods/maps/cutthroat.map
    description= _ "3 Player Cutthroat Survival. A 3-player free-for-all in which the players skirmish between waves of attacking enemies."
    turns="-1"
    experience_modifier=70%

    {DEFAULT_SCHEDULE}
    {DEFAULT_MUSIC_PLAYLIST}

    [side]
        side=1
        allow_player=no
        controller=ai
        hidden=yes
        team_name=Computer
        user_team_name= _"The Wild"
        [ai]
            aggression=.8
            caution=0.0
            grouping=no
        [/ai]
        no_leader=yes
    [/side]

    [side]
        side=2
        controller=human
        gold=75
        team_name=One
        user_team_name= _ "One"
        [ai]
            villages_per_scout=1
        [/ai]
    [/side]

    [side]
        side=3
        controller=human
        gold=75
        team_name=Two
        user_team_name= _ "Two"
        [ai]
            villages_per_scout=1
        [/ai]
    [/side]

    [side]
        side=4
        controller=human
        gold=75
        team_name=Three
        user_team_name= _ "Three"
        [ai]
            villages_per_scout=1
        [/ai]
    [/side]

    [event]
        name=prestart
        [objectives]
            [objective]
                description= _ "Kill the enemy leaders."
                condition=win
            [/objective]
            [objective]
                description= _ "Your leader dies."
                condition=lose
            [/objective]
            [note]
                description=_"Creatures spawn at the ruins near your base on even-numbered turns."
            [/note]
            [note]
                description=_"Defeat the creatures and wage war on your fellow players."
            [/note]
            [note]
                description=_"See the <b>Dov MP Pack</b> thread on the official forums (multiplayer board) for info or to give feedback."
            [/note]
        [/objectives]
    [/event]

    {CUT_WAVE 2 {CUT_RIGHT "Peasant"}{CUT_LEFT "Walking Corpse"}}
    {CUT_WAVE 4 {CUT_RIGHT "Fencer"}{CUT_LEFT "Skeleton Archer"}}
    {CUT_WAVE 6 {CUT_RIGHT "Bowman"}{CUT_LEFT "Vampire Bat"}}
    {CUT_WAVE 8 {CUT_RIGHT "Drake Fighter"}{CUT_LEFT "Tentacle of the Deep"}}
    {CUT_WAVE 10 {CUT_RIGHT "Spearman"}{CUT_LEFT "Skeleton"}}
    {CUT_WAVE 12 {CUT_RIGHT "Merman Hunter"}{CUT_LEFT "Naga Fighter"}}
    {CUT_WAVE 14 {CUT_RIGHT "Mage"}{CUT_LEFT "Dark Adept"}}
    {CUT_WAVE 16 {CUT_RIGHT "Heavy Infantryman"}{CUT_LEFT "Orcish Grunt"}}
    {CUT_WAVE 18 {CUT_RIGHT "Elvish Shaman"}{CUT_LEFT "Young Ogre"}}
    {CUT_WAVE 20 {CUT_RIGHT "Dwarvish Fighter"}{CUT_LEFT "Wraith"}}
    {CUT_WAVE 22 {CUT_RIGHT "Wose"}{CUT_LEFT "Troll Rocklobber"}}
    {CUT_WAVE 24 {CUT_RIGHT "Drake Thrasher"}{CUT_LEFT "Nightgaunt"}}
    {CUT_WAVE 26 {CUT_RIGHT "Javelineer"}{CUT_LEFT "Orcish Warrior"}}
    {CUT_WAVE 28 {CUT_RIGHT "Merman Warrior"}{CUT_LEFT "Naga Warrior"}}
    {CUT_WAVE 30 {CUT_RIGHT "Swordsman"}{CUT_LEFT "Necrophage"}}
    {CUT_WAVE 32 {CUT_RIGHT "Elvish Druid"}{CUT_LEFT "Deathblade"}}
    {CUT_WAVE 34 {CUT_RIGHT "Halberdier"}{CUT_LEFT "Troll Warrior"}}
    {CUT_WAVE 36 {CUT_RIGHT "Iron Mauler"}{CUT_LEFT "Necromancer"}}
    {CUT_WAVE 38 {CUT_RIGHT "Silver Mage"}{CUT_LEFT "Draug"}}
    {CUT_WAVE 40 {CUT_RIGHT "Yeti"}{CUT_LEFT "Yeti"}}

    [event]
        name=turn 40
        {FLASH_WHITE ()}
        [message]
            speaker=narrator
            image=attacks/dagger-orcish.png
            message= _ "With the arrival of the yetis, the castles have emptied. No more distractions--the cutting of throats begins in earnest!"
        [/message]
    [/event]
[/multiplayer]
