#textdomain wesnoth
# 3p Cutthroat v4.2 (updated for Wesnoth 1.20.x)
# by Dovolente - March 2011

#define WOL_CUT_SPAWN SIDE TYPE X Y
    [unit]
        side=1
        type={TYPE}
        x={X}
        y={Y}
        animate=yes
        random_traits=no
        moves=0
        placement=map
        passable=yes
    [/unit]
#enddef

#define WOL_CUT_LEFT TYPE
    {WOL_CUT_SPAWN 2 {TYPE} 6 10}
    {WOL_CUT_SPAWN 3 {TYPE} 13 15}
    {WOL_CUT_SPAWN 4 {TYPE} 14 7}
#enddef

#define WOL_CUT_RIGHT TYPE
    {WOL_CUT_SPAWN 2 {TYPE} 9 15}
    {WOL_CUT_SPAWN 3 {TYPE} 16 10}
    {WOL_CUT_SPAWN 4 {TYPE} 8 7}
#enddef

#define WOL_CUT_WAVE NUMBER SIDESPAWN
    [event]
        name=turn {NUMBER}
        {SIDESPAWN}
    [/event]
#enddef

[multiplayer]
    id=WOL_MP_Cutthroat
    name= _ "3p — Cutthroat"
    map_file=cutthroat.map
    description= _ "3 Player Cutthroat Survival. A 3-player free-for-all in which the players skirmish between waves of attacking enemies."
    turns="-1"
    experience_modifier=70%

    {DEFAULT_SCHEDULE}
    {DEFAULT_MUSIC_PLAYLIST}

    [side]
        side=1
        allow_player=no
        controller=ai
        hidden=yes
        team_name=Computer
        user_team_name= _"The Wild"
        [ai]
            aggression=.8
            caution=0.0
            grouping=no
        [/ai]
        no_leader=yes
    [/side]

    [side]
        side=2
        controller=human
        gold=75
        team_name=One
        user_team_name= _ "One"
        [ai]
            villages_per_scout=1
        [/ai]
    [/side]

    [side]
        side=3
        controller=human
        gold=75
        team_name=Two
        user_team_name= _ "Two"
        [ai]
            villages_per_scout=1
        [/ai]
    [/side]

    [side]
        side=4
        controller=human
        gold=75
        team_name=Three
        user_team_name= _ "Three"
        [ai]
            villages_per_scout=1
        [/ai]
    [/side]

    [event]
        name=prestart
        [objectives]
            [objective]
                description= _ "Kill the enemy leaders."
                condition=win
            [/objective]
            [objective]
                description= _ "Your leader dies."
                condition=lose
            [/objective]
            [note]
                description=_"Creatures spawn at the ruins near your base on even-numbered turns."
            [/note]
            [note]
                description=_"Defeat the creatures and wage war on your fellow players."
            [/note]
        [/objectives]
    [/event]

    {WOL_CUT_WAVE 2 {WOL_CUT_RIGHT "Peasant"}{WOL_CUT_LEFT "Walking Corpse"}}
    {WOL_CUT_WAVE 4 {WOL_CUT_RIGHT "Fencer"}{WOL_CUT_LEFT "Skeleton Archer"}}
    {WOL_CUT_WAVE 6 {WOL_CUT_RIGHT "Bowman"}{WOL_CUT_LEFT "Vampire Bat"}}
    {WOL_CUT_WAVE 8 {WOL_CUT_RIGHT "Drake Fighter"}{WOL_CUT_LEFT "Tentacle of the Deep"}}
    {WOL_CUT_WAVE 10 {WOL_CUT_RIGHT "Spearman"}{WOL_CUT_LEFT "Skeleton"}}
    {WOL_CUT_WAVE 12 {WOL_CUT_RIGHT "Merman Hunter"}{WOL_CUT_LEFT "Naga Fighter"}}
    {WOL_CUT_WAVE 14 {WOL_CUT_RIGHT "Mage"}{WOL_CUT_LEFT "Dark Adept"}}
    {WOL_CUT_WAVE 16 {WOL_CUT_RIGHT "Heavy Infantryman"}{WOL_CUT_LEFT "Orcish Grunt"}}
    {WOL_CUT_WAVE 18 {WOL_CUT_RIGHT "Elvish Shaman"}{WOL_CUT_LEFT "Young Ogre"}}
    {WOL_CUT_WAVE 20 {WOL_CUT_RIGHT "Dwarvish Fighter"}{WOL_CUT_LEFT "Wraith"}}
    {WOL_CUT_WAVE 22 {WOL_CUT_RIGHT "Wose"}{WOL_CUT_LEFT "Troll Rocklobber"}}
    {WOL_CUT_WAVE 24 {WOL_CUT_RIGHT "Drake Thrasher"}{WOL_CUT_LEFT "Nightgaunt"}}
    {WOL_CUT_WAVE 26 {WOL_CUT_RIGHT "Javelineer"}{WOL_CUT_LEFT "Orcish Warrior"}}
    {WOL_CUT_WAVE 28 {WOL_CUT_RIGHT "Merman Warrior"}{WOL_CUT_LEFT "Naga Warrior"}}
    {WOL_CUT_WAVE 30 {WOL_CUT_RIGHT "Swordsman"}{WOL_CUT_LEFT "Necrophage"}}
    {WOL_CUT_WAVE 32 {WOL_CUT_RIGHT "Elvish Druid"}{WOL_CUT_LEFT "Deathblade"}}
    {WOL_CUT_WAVE 34 {WOL_CUT_RIGHT "Halberdier"}{WOL_CUT_LEFT "Troll Warrior"}}
    {WOL_CUT_WAVE 36 {WOL_CUT_RIGHT "Iron Mauler"}{WOL_CUT_LEFT "Necromancer"}}
    {WOL_CUT_WAVE 38 {WOL_CUT_RIGHT "Silver Mage"}{WOL_CUT_LEFT "Draug"}}
    {WOL_CUT_WAVE 40 {WOL_CUT_RIGHT "Yeti"}{WOL_CUT_LEFT "Yeti"}}

    [event]
        name=turn 40
        {FLASH_WHITE ()}
        [message]
            speaker=narrator
            image=attacks/dagger-orcish.png
            message= _ "With the arrival of the yetis, the castles have emptied. No more distractions--the cutting of throats begins in earnest!"
        [/message]
    [/event]
[/multiplayer]
