#textdomain wesnoth
# 3p-Erdynok v.1 (updated for Wesnoth 1.20.x)
# by Dovolente - July 2012

#Looks like under construction. Spawns are wrong (load in walls!), just copies from orocia. There is no cart either. Just plain last 40 turns.

[multiplayer]
    id=WOL_MP_Erdyok
    name= _ "3p — Erdynok Mines"
    map_file=erdynok.map
    description= _ "A 3-Player Survival Scenario. Work together to defend the treasure cart from hordes of invaders. Win by surviving until turn 40."
    turns="-1"
    victory_when_enemies_defeated=no
    experience_modifier=70%

    [time]
        id=underground
        name= _ "The Erdynok Mines"
        image=misc/time-schedules/schedule-underground.png
        lighter=underground_illum
    [/time]

    {DEFAULT_MUSIC_PLAYLIST}

    [side]
        side=1
        controller=human
        gold=75
        color=purple
        color_lock=yes
        team_name=Guards
        user_team_name= _ "Guards"
        team_lock=yes
    [/side]

    [side]
        side=2
        controller=human
        gold=75
        team_name=Guards
        color=blue
        color_lock=yes
        user_team_name= _ "Guards"
        team_lock=yes
    [/side]

    [side]
        side=3
        controller=human
        gold=75
        team_name=Guards
        color=green
        color_lock=yes
        user_team_name= _ "Guards"
        team_lock=yes
    [/side]

    [side]
        side=4
        controller=ai
        allow_player=no
        [ai]
            aggression=1
            caution=0.0
            grouping=no
        [/ai]
        team_name=Thieves
        gold=0
        user_team_name= _ "Thieves"
        team_lock=yes
        color=black
        color_lock=yes
        hidden=yes
        no_leader=yes
    [/side]

    [event]
        name=prestart
        [objectives]
            [objective]
                description=_"Escort the treasure cart through the mines. (Last 40 turns)"
                condition=win
            [/objective]
            [note]
                description=_"Note: Actual mileage may vary. Actually this is not ready to play really. Needs work."
            [/note]
        [/objectives]
        #add a hidden enemy leader--this allows players whose leaders die to still play
        [unit]
            side=4
            type="Rogue"
            canrecruit=yes
            id="Bandit Leader"
            x=1
            y=1
        [/unit]
        [hide_unit]
            x,y=1,1
        [/hide_unit]
    [/event]

    [event]
        name=start
        [message]
            side=1
            message= _"The gold cart should be arriving any time. Careful not to get in its way, it crushes anything on the tracks!"
        [/message]
        [message]
            side=2
            message= _"We've been charged to defend it from thieves, and it is vulnerable to attacks from the flanks. We'll have to work together to defend it."
        [/message]
        [message]
            side=3
            message= _"OK, but I expect the thieves will be testing our defenses all along the track route."
        [/message]
    [/event]

    [event]
        name=turn 40
        [endlevel]
            result=victory
        [/endlevel]
    [/event]

    [event]
        name=victory
        {FLASH_WHITE (
            [kill]
                side=4
                animate=yes
            [/kill]
            {MESSAGE narrator "campaigns/Liberty/images/portraits/maddock.png" (_"Winner") (_"Yea win!")}
        )}
    [/event]

    [event]
        name=die
        first_time_only=no
        [filter]
            canrecruit=yes
        [/filter]
        [message]
            speaker=unit
            message= _ "No... the gold..."
        [/message]
    [/event]

    {WOL_WAVE 1 (
        {VARIABLE next_wave_label "Turn 2: Peasants and Thugs"}
    )}

    {WOL_WAVE 2 (
        {WOL_LAND_A_2 "Thug"}{WOL_LAND_B_3 "Peasant"}
        {VARIABLE next_wave_label "Turn 4: Ghosts"}
    )}

    {WOL_WAVE 4 (
        {WOL_BORDER_2 "Ghost"}
        {VARIABLE next_wave_label "Turn 5: Walking Corpses"}
    )}

    {WOL_WAVE 5 (
        {WOL_LAND_A_2 "Walking Corpse"}
        {WOL_LAND_B_1 "Walking Corpse"}
        {VARIABLE next_wave_label "Turn 8: Loyalists"}
    )}

    {WOL_WAVE 8 (
        {WOL_LAND_B_1 "Mage"}
        {WOL_LAND_B_2 "Spearman"}
        {WOL_LAND_A_2 "Cavalryman"}
        {VARIABLE next_wave_label "Turn 11: Northerners"}
    )}

    {WOL_WAVE 11 (
        {WOL_LAND_B_2 "Orcish Archer"}
        {WOL_LAND_A_1 "Troll"}
        {WOL_LAND_A_2 "Wolf Rider"}
        {VARIABLE next_wave_label "Turn 14: Elves"}
    )}

    {WOL_WAVE 14 (
        {WOL_LAND_B_1 "Elvish Captain"}
        {WOL_LAND_B_2 "Elvish Archer"}
        {WOL_LAND_A_2 "Wose"}
        {WOL_BORDER_2 "Merman Hunter"}
        {VARIABLE next_wave_label "Turn 18: Ogres and Netcasters"}
    )}

    {WOL_WAVE 18 (
        {WOL_LAND_A_3 "Young Ogre"}
        {WOL_LAND_B_2 "Ogre"}
        {WOL_BORDER_1 "Merman Netcaster"}
        {VARIABLE next_wave_label "Turn 20: Bats and Shadows"}
    )}

    {WOL_WAVE 20 (
        {WOL_BORDER_2 "Blood Bat"}
        {WOL_LAND_A_3 "Vampire Bat"}
        {WOL_LAND_B_2 "Shadow"}
        {VARIABLE next_wave_label "Turn 23: Drakes"}
    )}

    {WOL_WAVE 23 (
        {WOL_LAND_A_2 "Drake Fighter"}
        {WOL_LAND_B_1 "Drake Warrior"}
        {WOL_LAND_B_2 "Drake Clasher"}
        {WOL_BORDER_1 "Drake Burner"}
        {VARIABLE next_wave_label "Turn 27: Knalgans"}
    )}

    {WOL_WAVE 27 (
        {WOL_BORDER_2 "Gryphon Rider"}
        {WOL_LAND_B_2 "Dwarvish Berserker"}
        {WOL_LAND_A_2 "Dwarvish Thunderguard"}
        {VARIABLE next_wave_label "Turn 30: Knights"}
    )}

    {WOL_WAVE 30 (
        {WOL_LAND_B_2 "Knight"}
        {WOL_LAND_B_1 "Paladin"}
        {WOL_LAND_A_2 "Lancer"}
        {VARIABLE next_wave_label "Turn 32: Mages and Sorcerers"}
    )}

    {WOL_WAVE 32 (
        {WOL_LAND_B_3 "Red Mage"}
        {WOL_LAND_A_2 "Dark Sorcerer"}
        {WOL_LAND_A_1 "Silver Mage"}
        {VARIABLE next_wave_label "Turn 35: Saurians"}
    )}

    {WOL_WAVE 35 (
        {WOL_BORDER_2 "Saurian Skirmisher"}
        {WOL_LAND_A_3 "Saurian Ambusher"}
        {WOL_LAND_A_2 "Saurian Soothsayer"}
        {WOL_LAND_A_1 "Saurian Oracle"}
        {WOL_LAND_B_1 "Saurian Oracle"}
        {WOL_LAND_B_2 "Saurian Soothsayer"}
        {WOL_LAND_B_3 "Saurian Ambusher"}
        {VARIABLE next_wave_label "Turn 36: Assassins"}
    )}

    {WOL_WAVE 36 (
        {WOL_LAND_A_1 "Orcish Slayer"}
        {WOL_LAND_A_2 "Orcish Slayer"}
        {WOL_LAND_A_3 "Orcish Slayer"}
        {WOL_LAND_B_1 "Assassin"}
        {WOL_LAND_B_2 "Assassin"}
        {WOL_LAND_B_3 "Assassin"}
        {VARIABLE next_wave_label "Turn 40: WIN!"}
    )}
[/multiplayer]
