#textdomain wesnoth
# 3p-Orocia v4.1 (updated for Wesnoth 1.20.x)
# by Dovolente - March 2011

[multiplayer]
    id=WOL_MP_Orocia
    name= _ "3p - Orocia"

#define WOL_OROCIA_FIRST_UNIT TYPE X Y
    [unit]
        side=4
        type={TYPE}
        x={X}
        y={Y}
        random_traits=no
        placement=map
        passable=yes
    [/unit]
#enddef

    map_file=orocia.map
    description= _ "A 3-Player Survival Scenario. Work together to protect a powerful shrine from hordes of invaders. Win by surviving until turn 40. At the start of their turn, a player may get bonus hp, moves, damage, or weapon resistance for a unit."
    turns="-1"
    victory_when_enemies_defeated=no
    experience_modifier=70%
    {DEFAULT_SCHEDULE}
    {DEFAULT_MUSIC_PLAYLIST}

    [side]
        side=1
        controller=human
        gold=75
        team_name=Defenders
        user_team_name= _ "Defenders"
        team_lock=yes
        color=purple
        color_lock=yes
    [/side]

    [side]
        side=2
        controller=human
        gold=75
        team_name=Defenders
        user_team_name= _ "Defenders"
        team_lock=yes
        color=blue
        color_lock=yes
    [/side]

    [side]
        side=3
        controller=human
        gold=75
        team_name=Defenders
        user_team_name= _ "Defenders"
        team_lock=yes
        color=green
        color_lock=yes
    [/side]

    [side]
        side=4
        controller=ai
        no_leader=yes
        gold=0
        hidden=yes
        team_name=Crusaders
        user_team_name= _ "Defilers"
        team_lock=yes
        color=black
        color_lock=yes
        [ai]
            aggression=1
            caution=0.0
            grouping=no
            [protect_location]
                x=14
                y=11
                radius=2
                value=100
            [/protect_location]
        [/ai]
        allow_player=no
    [/side]

    [event]
        name=prestart

        {PLACE_IMAGE "scenery/temple1.png" 14 11}
        {PLACE_IMAGE "items/scarecrow.png" 7 6}
        {PLACE_IMAGE "items/scarecrow.png" 12 19}
        {PLACE_IMAGE "items/scarecrow.png" 23 9}

        #set bonus amounts
        {VARIABLE bonus.hp 4}
        {VARIABLE bonus.vs_magic 10}
        {VARIABLE bonus.vs_weapons 10}
        {VARIABLE bonus.moves 2}
        {VARIABLE bonus.damage 1}

        [objectives]
            [objective]
                description=_"Survive til turn 40."
                condition=win
            [/objective]
            [note]
                description=_"At the start of your turn, any of your units may receive a bonus if they are within the castle walls and on the grassy area on your side of the shrine."
            [/note]
            [note]
                description=_"Bonuses:
     <span color='#BCB088' weight='bold'>damage</span>: $bonus.damage
     <span color='#BCB088' weight='bold'>hp</span>: $bonus.hp
     <span color='#BCB088' weight='bold'>moves</span>: $bonus.moves
     <span color='#BCB088' weight='bold'>vs_magic</span>: $bonus.vs_magic (improves defense against arcane, fire, and cold)
     <span color='#BCB088' weight='bold'>vs_weapons</span>: $bonus.vs_weapons (improves defense against impact, pierce, and blade)"
            [/note]
        [/objectives]

        #add a hidden leader so players whose leaders die can still play
        [unit]
            side=4
            type="Fencer"
            canrecruit=yes
            id="Ignore Me"
            x=27
            y=22
        [/unit]
        [hide_unit]
            x,y=27,22
        [/hide_unit]

        #bring out the nagas, so they'll advance to attack on the first turn
        {WOL_OROCIA_FIRST_UNIT "Naga Fighter" 6 18}
        {WOL_OROCIA_FIRST_UNIT "Naga Fighter" 25 14}
        {WOL_OROCIA_FIRST_UNIT "Naga Fighter" 11 2}
        {WOL_OROCIA_FIRST_UNIT "Naga Fighter" 18 20}
        {WOL_OROCIA_FIRST_UNIT "Naga Fighter" 21 4}
        {WOL_OROCIA_FIRST_UNIT "Naga Fighter" 3 10}
    [/event]

    #Handle Data for persistent game statistics. Someday.
    #{INITIALIZE_STATS Orocia}
    #{STATS_TURN Orocia}

    [event]
        name=start
        [message]
            side=1
            message= _"There are rumors of gathering armies, preparing to attack us! They wish to take the power of the shrine for themselves!"
        [/message]
        [message]
            side=2
            message= _"We have sworn to defend Our Lady Orocia's shrine from such ruffians, while she sleeps. But to strengthen our defenses, we may need to draw upon the mystic powers ourselves."
        [/message]
        [message]
            side=3
            message= _"Summon the troops! We'll be ready. We can hold the shrine til Orocia awakens."
        [/message]
    [/event]

    [event]
        name=turn 40
        [endlevel]
            result=victory
        [/endlevel]
    [/event]

    [event]
        name=victory
        {FLASH_WHITE (
            [kill]
                side=4
                animate=yes
            [/kill]
        )}
        [message]
            speaker=narrator
            image=portraits/elves/lady.webp
            caption=_ "Orocia, Goddess of Light"
            message=_ "I have awoken! I see that my shrine has been well defended. The Light shine upon you and bless you, my brave warriors."
        [/message]
    [/event]

    [event]
        name=die
        first_time_only=no
        [filter]
            canrecruit=yes
        [/filter]
        [message]
            speaker=unit
            message= _ "It was not meant to be..."
        [/message]
    [/event]

    [event]
        name=side 1 turn
        first_time_only=no
        {WOL_CLEAR_BONUS_LABELS}
        {WOL_EMPOWERMENT 1 13 10}
        {WOL_EMPOWERMENT 1 14 9}
        {WOL_EMPOWERMENT 1 14 10}
        {WOL_EMPOWERMENT 1 15 10}
    [/event]

    [event]
        name=side 2 turn
        first_time_only=no
        {WOL_CLEAR_BONUS_LABELS}
        {WOL_EMPOWERMENT 2 12 11}
        {WOL_EMPOWERMENT 2 12 12}
        {WOL_EMPOWERMENT 2 13 12}
        {WOL_EMPOWERMENT 2 13 13}
    [/event]

    [event]
        name=side 3 turn
        first_time_only=no
        {WOL_CLEAR_BONUS_LABELS}
        {WOL_EMPOWERMENT 3 15 12}
        {WOL_EMPOWERMENT 3 15 13}
        {WOL_EMPOWERMENT 3 16 11}
        {WOL_EMPOWERMENT 3 16 12}
    [/event]

    {WOL_WAVE 1 (
        {VARIABLE next_wave_label "Turn 2: Peasants and Thugs"}
    )}

    {WOL_WAVE 2 (
        {WOL_LAND_A_2 "Thug"}{WOL_LAND_B_3 "Peasant"}
        {VARIABLE next_wave_label "Turn 4: Ghosts"}
    )}

    {WOL_WAVE 4 (
        {WOL_BORDER_2 "Ghost"}
        {VARIABLE next_wave_label "Turn 5: Walking Corpses"}
    )}

    {WOL_WAVE 5 (
        {WOL_LAND_A_2 "Walking Corpse"}
        {WOL_LAND_B_1 "Walking Corpse"}
        {VARIABLE next_wave_label "Turn 8: Loyalists"}
    )}

    {WOL_WAVE 8 (
        {WOL_LAND_B_1 "Mage"}
        {WOL_LAND_B_2 "Spearman"}
        {WOL_LAND_A_2 "Cavalryman"}
        {VARIABLE next_wave_label "Turn 11: Northerners"}
    )}

    {WOL_WAVE 11 (
        {WOL_LAND_B_2 "Orcish Archer"}
        {WOL_LAND_A_1 "Troll"}
        {WOL_LAND_A_2 "Wolf Rider"}
        {VARIABLE next_wave_label "Turn 14: Elves"}
    )}

    {WOL_WAVE 14 (
        {WOL_LAND_B_1 "Elvish Captain"}
        {WOL_LAND_B_2 "Elvish Archer"}
        {WOL_LAND_A_2 "Wose"}
        {WOL_BORDER_2 "Merman Hunter"}
        {VARIABLE next_wave_label "Turn 18: Ogres and Netcasters"}
    )}

    {WOL_WAVE 18 (
        {WOL_LAND_A_3 "Young Ogre"}
        {WOL_LAND_B_2 "Ogre"}
        {WOL_BORDER_1 "Merman Netcaster"}
        {VARIABLE next_wave_label "Turn 20: Bats and Shadows"}
    )}

    {WOL_WAVE 20 (
        {WOL_BORDER_2 "Blood Bat"}
        {WOL_LAND_A_3 "Vampire Bat"}
        {WOL_LAND_B_2 "Shadow"}
        {VARIABLE next_wave_label "Turn 23: Drakes"}
    )}

    {WOL_WAVE 23 (
        {WOL_LAND_A_2 "Drake Fighter"}
        {WOL_LAND_B_1 "Drake Warrior"}
        {WOL_LAND_B_2 "Drake Clasher"}
        {WOL_BORDER_1 "Drake Burner"}
        {VARIABLE next_wave_label "Turn 27: Knalgans"}
    )}

    {WOL_WAVE 27 (
        {WOL_BORDER_2 "Gryphon Rider"}
        {WOL_LAND_B_2 "Dwarvish Berserker"}
        {WOL_LAND_A_2 "Dwarvish Thunderguard"}
        {VARIABLE next_wave_label "Turn 30: Knights"}
    )}

    {WOL_WAVE 30 (
        {WOL_LAND_B_2 "Knight"}
        {WOL_LAND_B_1 "Paladin"}
        {WOL_LAND_A_2 "Lancer"}
        {VARIABLE next_wave_label "Turn 32: Mages and Sorcerers"}
    )}

    {WOL_WAVE 32 (
        {WOL_LAND_B_3 "Red Mage"}
        {WOL_LAND_A_2 "Dark Sorcerer"}
        {WOL_LAND_A_1 "Silver Mage"}
        {VARIABLE next_wave_label "Turn 35: Saurians"}
    )}

    {WOL_WAVE 35 (
        {WOL_BORDER_2 "Saurian Skirmisher"}
        {WOL_LAND_A_3 "Saurian Ambusher"}
        {WOL_LAND_A_2 "Saurian Soothsayer"}
        {WOL_LAND_A_1 "Saurian Oracle"}
        {WOL_LAND_B_1 "Saurian Oracle"}
        {WOL_LAND_B_2 "Saurian Soothsayer"}
        {WOL_LAND_B_3 "Saurian Ambusher"}
        {VARIABLE next_wave_label "Turn 36: Assassins"}
    )}

    {WOL_WAVE 36 (
        {WOL_LAND_A_1 "Orcish Slayer"}
        {WOL_LAND_A_2 "Orcish Slayer"}
        {WOL_LAND_A_3 "Orcish Slayer"}
        {WOL_LAND_B_1 "Assassin"}
        {WOL_LAND_B_2 "Assassin"}
        {WOL_LAND_B_3 "Assassin"}
        {VARIABLE next_wave_label "Turn 40: WIN!"}
    )}
[/multiplayer]
