[multiplayer]
	id=vs_Survival_2p_original
	name= _ "2p - vs Survival (Original)"
	map_file=vs_Survival_2p.map
	{WOL_VS_SURVIVAL_START_DESCRIPTION 2p}

	{WOL_VS_SURVIVAL_START_SETTINGS}

	{WOL_VS_SURVIVAL_PLAYER_SIDE 1 "blue"}
	{WOL_VS_SURVIVAL_PLAYER_SIDE 2 "green"}
	{WOL_VS_SURVIVAL_AI_SIDE     3 "red"}
	{WOL_VS_SURVIVAL_PETRIFIED_SIDE 4}

	[event]
		name=prestart
		{WOL_VS_SURVIVAL_OBJECTIVES (vs survival to the death of your or your opponent's leader)}

		#place hidden enemy leader so play can go on with one player and enemy can get villages
		{WOL_VS_SURVIVAL_HIDDEN_LEADER 3  13 1}

		{VARIABLE preview_label_update true}
		{VARIABLE preview_label ""}
		{VARIABLE preview_turn 1}

		{VARIABLE remove_labels_1 -1}  #if preview labels need to be removed for a turn
		{VARIABLE remove_labels_2 -1}  #say, when a leader dies

		{VARIABLE show_defeated_label_1 false}  #show label when side has been defeated
		{VARIABLE show_defeated_label_2 false}

		{VARIABLE player1_survival_outcome ""}
		{VARIABLE player2_survival_outcome ""}

		{VARIABLE last_surviving_team -1}
	[/event]

#define WOL_VS_SURVIVAL_CHECK_SIDE_WON_2P SIDE1 SIDE2 WML
	[if]
	[have_unit]
		side={SIDE1}
		canrecruit=yes
	[/have_unit]
	[then]
		[if]
		[have_unit]
			side={SIDE2}
			canrecruit=yes
		[/have_unit]
		[then]
		[/then]
		[else]
			{WML}
		[/else]
		[/if]
	[/then]
	[/if]
#enddef

#define WOL_VS_SURVIVAL_MAP_OPEN_MIDDLE
	{EARTHQUAKE (
		{MODIFY_TERRAIN Gg  (13,13) (8,8)}
		{MODIFY_TERRAIN Gg  (13,13) (7,9)}
		{MODIFY_TERRAIN Hh  (13,13) (6,10)}
		{MODIFY_TERRAIN Wwf (13,13) (5,11)}
		{MODIFY_TERRAIN Ww  (13,13) (4,12)}
	)}

	#make sides able to attack each other (and hide in fog)
	{WOL_VS_SURVIVAL_SET_TEAM 1 "Combatants1"}
	{WOL_VS_SURVIVAL_SET_TEAM 2 "Combatants2"}
#enddef

{WOL_VS_SURVIVAL_MAP_OPEN_MIDDLE_EVENT}

#define WOL_VS_SURVIVAL_LABELS_2P
	[if]
	[variable]
		name=show_defeated_label_1
		equals=true
	[/variable]
	[then]
		{SET_LABEL 7  7 "<span font='30'>Defeated</span>"}
	[/then]
	[/if]
	[if]
	[variable]
		name=show_defeated_label_2
		equals=true
	[/variable]
	[then]
		{SET_LABEL 19 8 "<span font='28'>Defeated</span>"}
	[/then]
	[/if]

	[if]
	[variable]
		name=preview_turn
		greater_than_equal_to=$turn_number
	[/variable]
	[then]
		{WOL_VS_SURVIVAL_SET_LABEL_VISIBLE_ALWAYS 13  1  (_"Turn"+" $preview_turn: $preview_label") }
		{WOL_VS_SURVIVAL_SET_LABEL_VISIBLE_ALWAYS 13  14 (_"Turn"+" $preview_turn: $preview_label") }
	[/then]
	[else]
		{WOL_VS_SURVIVAL_SET_LABEL_VISIBLE_ALWAYS 13  1  "" }
		{WOL_VS_SURVIVAL_SET_LABEL_VISIBLE_ALWAYS 13  14 "" }
	[/else]
	[/if]

	{WOL_VS_SURVIVAL_MAKE_HERO_IF_LAST_SURVIVING_TEAM 1}
	{WOL_VS_SURVIVAL_MAKE_HERO_IF_LAST_SURVIVING_TEAM 2}

	{VARIABLE remove_labels_1 -1}
	{VARIABLE remove_labels_2 -1}
#enddef

[event]
	name=spawn
	first_time_only=no
	
#mirror for 2nd side (long because of bug in formula WML)
	{VARIABLE xt 26}    {VARIABLE yt 15}
	{VARIABLE_OP xt add -$xs} {VARIABLE_OP yt add -$ys}
	[if]
	[variable]
		name=xt
		not_equals=$(2*($xt/2))
	[/variable]
	[then]
		{VARIABLE_OP yt add 1}
	[/then]
	[/if]

	{WOL_VS_SURVIVAL_IF_LEADER_IS_ALIVE 1 ({WOL_VS_SURVIVAL_SET_LABEL_NO_FOG $xs $ys $wave_unit.language_name}) }
	{WOL_VS_SURVIVAL_IF_LEADER_IS_ALIVE 2 ({WOL_VS_SURVIVAL_SET_LABEL_NO_FOG $xt $yt $wave_unit.language_name}) }

	#remove preview labels when a leader dies
	[if]
	[variable]
		name=remove_labels_1
		equals=$preview_turn
	[/variable]
	[then]
		{WOL_VS_SURVIVAL_SET_LABEL_NO_FOG $xs $ys "" }
	[/then]
	[else]
	[if]
	[variable]
		name=remove_labels_2
		numerical_equals=$preview_turn
	[/variable]
	[then]
		{WOL_VS_SURVIVAL_SET_LABEL_NO_FOG $xt $yt "" }
	[/then]
	[/if]
	[/else]
	[/if]

	[if]
	[variable]
		name=turn_number
		equals=$preview_turn
	[/variable]
	[and]
	[variable]
		name=side_number
		equals=3
	[/variable]
	[/and]
	[then]
		{WOL_VS_SURVIVAL_SET_LABEL_NO_FOG $xs $ys "" }
		{WOL_VS_SURVIVAL_SET_LABEL_NO_FOG $xt $yt "" }
		{VARIABLE preview_label_update true}

		{WOL_VS_SURVIVAL_IF_LEADER_IS_ALIVE 1 ({WOL_VS_SURVIVAL_PLACE_WAVE_UNIT 3 $xs $ys}) }

		#push enemies to the right if hex is occupied to avoid going through wall to other side
		[if]
		[have_unit]
			x=$xt
			y=$yt
		[/have_unit]
		[then]
			{VARIABLE_OP xt add 1}
		[/then]
		[/if]

		{WOL_VS_SURVIVAL_IF_LEADER_IS_ALIVE 2 ({WOL_VS_SURVIVAL_PLACE_WAVE_UNIT 3 $xt $yt}) }
	[/then]
	[/if]

	#show defeated/victory labels and crown units of winner
	{WOL_VS_SURVIVAL_LABELS_2P}

	{CLEAR_VARIABLE (xt,yt)}
[/event]

#get enemy waves
	{WOL_VS_SURVIVAL_MODDABLE_WAVES_EVENT}

#see if a side has won
	[event]
		name=die
		first_time_only=no

		[if]
		[have_unit]
			side=3
			count=1
		[/have_unit]
		[and]
		[variable] #check that last spawn has happened
			name=turn_number
			greater_than_equal_to=36
		[/variable]
		[/and]
		[then]
			{WOL_VS_SURVIVAL_CHECK_SIDE_WON_2P  1 2 (
				{FLASH_WHITE ()}
				{SET_LABEL 7  7 "<span font='38'>Winner</span>"}
				{VARIABLE player1_survival_outcome "Winner (turn $turn_number|)"}
				[kill]
					side=3
				[/kill]
			)}
			{WOL_VS_SURVIVAL_CHECK_SIDE_WON_2P  2 1 (
				{FLASH_WHITE ()}
				{SET_LABEL 19 8 "<span font='38'>Winner</span>"}
				{VARIABLE player2_survival_outcome "Winner (turn $turn_number|)"}
				[kill]
					side=3
				[/kill]
			)}
		[/then]
		[/if]
	[/event]

#make AI progressively "smarter" up to turn 5
	{WOL_VS_SURVIVAL_INCREASE_AI_ATTACK_DEPTH_EVENTS 3}

#move towards leader if all units of a particular side are hidden (ambushed, submerged, etc.)
	[event]
		name=side 3 turn
		first_time_only=no

		{WOL_VS_SURVIVAL_GO_FOR_HIDDEN_LEADER 1 3}
		{WOL_VS_SURVIVAL_GO_FOR_HIDDEN_LEADER 2 3}
	[/event]

#if last team to survive recruits, add a crown to that unit as well
	{WOL_VS_SURVIVAL_RECRUIT_HERO_EVENT}

#make a brief flash appear across the screen if a leader dies
	[event]
		name=last breath,petrified
		first_time_only=no

		[filter]
			canrecruit=yes
		[/filter]

		{FLASH_WHITE ()}
	[/event]

#when a leader dies, petrify all their units
	[event]
		name=die,petrified
		first_time_only=no

		[filter]
			canrecruit=yes
			side=1,2
		[/filter]

		{VARIABLE player$unit.side|_survival_outcome "Defeated (turn $turn_number|)"}

		[if]
		[variable]
			name=unit.side
			numerical_equals=1
		[/variable]
		[then]
			{VARIABLE remove_labels_1 $preview_turn}
			{VARIABLE show_defeated_label_1 true}
			{VARIABLE last_surviving_team 2}

			#see if side is last one to go down
			{WOL_VS_SURVIVAL_CHECK_SIDE_WON_2P 3  2 (
				{VARIABLE player$unit.side|_survival_outcome "Last to be defeated (turn $turn_number|)"}
			)}
		[/then]
		[else]
			{VARIABLE remove_labels_2 $preview_turn}
			{VARIABLE show_defeated_label_2 true}
			{VARIABLE last_surviving_team 1}

			#see if side is last one to go down
			{WOL_VS_SURVIVAL_CHECK_SIDE_WON_2P 3  1 (
				{VARIABLE player$unit.side|_survival_outcome "Last to be defeated (turn $turn_number|)"}
			)}
		[/else]
		[/if]

		{MODIFY_UNIT side=$unit.side status.petrified "yes"}
		{MODIFY_UNIT side=$unit.side side 4}

		[if]
		[variable]
			name=side_number
			numerical_not_equals=3
		[/variable]
		[then]
			{WOL_VS_SURVIVAL_WAVES}     #to get rid of any extra labels and
			{WOL_VS_SURVIVAL_LABELS_2P} #add victory/defeat labels

			[if]
			[have_unit]
				side=1,2
				canrecruit=yes
			[/have_unit]
			[then]
				[end_turn][/end_turn]
			[/then]
			[/if]
		[/then]
		[/if]
	[/event]

#on defeat, show how each player went
	[event]
		name=defeat

		[store_side]
			side=1
			variable=side1
		[/store_side]
		[store_side]
			side=2
			variable=side2
		[/store_side]

		{MESSAGE narrator (units/human-peasants/peasant-idle-2.png) (_ "Game statistics") (_ "$side1.name|:  <span color='#9999FF'>$player1_survival_outcome|</span>
$side2.name|:  <span color='#9999FF'>$player2_survival_outcome|</span>")}

		{CLEAR_VARIABLE (side1,side2)}
	[/event]

[/multiplayer]

#undef WOL_VS_SURVIVAL_MAP_OPEN_MIDDLE
