[multiplayer]
	id=vs_Survival_3p_original
	name= _ "3p - vs Survival (Original)"
	map_file=vs_Survival_3p.map
	{WOL_VS_SURVIVAL_START_DESCRIPTION 3p}

	{WOL_VS_SURVIVAL_START_SETTINGS}

	{WOL_VS_SURVIVAL_PLAYER_SIDE 1 "blue"}
	{WOL_VS_SURVIVAL_PLAYER_SIDE 2 "green"}
	{WOL_VS_SURVIVAL_PLAYER_SIDE 3 "white"}
	{WOL_VS_SURVIVAL_AI_SIDE     4 "red"}
	{WOL_VS_SURVIVAL_PETRIFIED_SIDE 5}

	[event]
		name=prestart
		{WOL_VS_SURVIVAL_OBJECTIVES (vs survival to the death of your or your opponents' leaders)}

		#place hidden enemy leader so play can go on with one player and enemy can get villages
		{WOL_VS_SURVIVAL_HIDDEN_LEADER 4  9 4}

		{VARIABLE preview_label_update true}
		{VARIABLE preview_label ""}
		{VARIABLE preview_turn 1}

		{VARIABLE remove_labels_1 -1}  #if preview labels need to be removed for a turn
		{VARIABLE remove_labels_2 -1}  #say, when a leader dies
		{VARIABLE remove_labels_3 -1}

		{VARIABLE show_defeated_label_1 false}  #show label when side has been defeated
		{VARIABLE show_defeated_label_2 false}
		{VARIABLE show_defeated_label_3 false}

		{VARIABLE player1_survival_outcome ""} #these will change on defeat
		{VARIABLE player2_survival_outcome ""}
		{VARIABLE player3_survival_outcome ""}

		{VARIABLE last_surviving_team -1}
	[/event]

#define WOL_VS_SURVIVAL_CHECK_SIDE_WON_3P SIDE1 SIDE2 SIDE3 WML
	[if]
	[have_unit]
		side={SIDE1}
		canrecruit=yes
	[/have_unit]
	[then]
		[if]
		[have_unit]
			side={SIDE2}
			canrecruit=yes
		[/have_unit]
		[then]
		[/then]
		[else]
			[if]
			[have_unit]
				side={SIDE3}
				canrecruit=yes
			[/have_unit]
			[then]
			[/then]
			[else]
				{WML}
			[/else]
			[/if]
		[/else]
		[/if]
	[/then]
	[/if]
#enddef

#define WOL_VS_SURVIVAL_CALCULATE_TRANSFORMS X Y
	{CLEAR_VARIABLE (x1,x2,x3,y1,y2,y3)}

	#calculate mirrors for 1st/2nd/3rd sides (long because of bug in formula WML)
	{VARIABLE x1  {X}}    {VARIABLE y1  {Y}}

	#we want:	(x1, y1) = (x, y + 7)
	#			(x2, y2) = (28 - x/2 - y, x - x/4 - y/2 + 4)
	#			(x3, y3) = (15 + y - (x+1)/2, 28 - x - (y-1)/2 + (x-1)/4)
	#           if (y%2==1) { if (x%4==0) y2--, y3++;  if (x%4==1) y2--; if (x%4==3) y3++;}

	[set_variable]
		name=x2
		value=$(28-($x1|/2)-$y1|)
	[/set_variable]
	[set_variable]
		name=y2
		value=$($x1|-($x1|/4)-($y1|/2))
	[/set_variable]
	[set_variable]
		name=x3
		value=$($y1|-(($x1|-1)/2))
	[/set_variable]
	[set_variable]
		name=y3
		value=$($x1|-(($x1|-1)/4)-27)
	[/set_variable]
	[set_variable]
		name=y3
		value=$(-$y3|-(($y1|-1)/2))
	[/set_variable]
	{VARIABLE_OP y2 add 4}  #cannot add in formula expression due to string concatentation bug
	{VARIABLE_OP x3 add 15} #cannot add in formula expression due to string concatentation bug

	[if]
	[variable]
		name=y1
		equals=$(2*($y1|/2))
	[/variable]
	[then]
		{VARIABLE_OP y2 add 1}
	[/then]
	[else]
		{VARIABLE x1 {X}}
		{VARIABLE_OP x1 modulo 4}
		[switch]
			variable=x1
			[case]
				value=0
				{VARIABLE_OP y2 add 1}
				{VARIABLE_OP y3 add 1}
			[/case]
			[case]
				value=1
				{VARIABLE_OP y2 add 1}
			[/case]
			[case]
				value=3
				{VARIABLE_OP y3 add 1}
			[/case]
		[/switch]
	[/else]
	[/if]

	{VARIABLE x1  {X}}	{VARIABLE_OP y1 add 7}
#enddef

#define WOL_VS_SURVIVAL_MODIFY_TERRAIN_3P TYPE X Y
	{WOL_VS_SURVIVAL_CALCULATE_TRANSFORMS {X} {Y}}
	{MODIFY_TERRAIN {TYPE} ($x1,$x2,$x3) ($y1,$y2,$y3)}
#enddef

#define WOL_VS_SURVIVAL_3P_MAP_OPEN_MIDDLE
	{EARTHQUAKE (
		{WOL_VS_SURVIVAL_MODIFY_TERRAIN_3P  Ai     10 2}
		{WOL_VS_SURVIVAL_MODIFY_TERRAIN_3P  Ss     11 3}
		{WOL_VS_SURVIVAL_MODIFY_TERRAIN_3P  Wwf    12 3}
		{WOL_VS_SURVIVAL_MODIFY_TERRAIN_3P  Hh^Fp  13 4}
		{WOL_VS_SURVIVAL_MODIFY_TERRAIN_3P  Gg^Efm 13 5}
		{WOL_VS_SURVIVAL_MODIFY_TERRAIN_3P  Gg     13 6}
		{WOL_VS_SURVIVAL_MODIFY_TERRAIN_3P  Gg     14 4}
		{WOL_VS_SURVIVAL_MODIFY_TERRAIN_3P  Gg     14 5}
		{WOL_VS_SURVIVAL_MODIFY_TERRAIN_3P  Gg     15 5}
		{WOL_VS_SURVIVAL_MODIFY_TERRAIN_3P  Hh     15 6}
	)}

	#make sides able to attack each other (and hide in fog)
	{WOL_VS_SURVIVAL_SET_TEAM 1 "Combatants1"}
	{WOL_VS_SURVIVAL_SET_TEAM 2 "Combatants2"}
	{WOL_VS_SURVIVAL_SET_TEAM 3 "Combatants3"}

	{CLEAR_VARIABLE (x1,x2,x3,y1,y2,y3)}
#enddef

{WOL_VS_SURVIVAL_3P_MAP_OPEN_MIDDLE_EVENT}

#define WOL_VS_SURVIVAL_LABELS_3P
	[if]
	[variable]
		name=show_defeated_label_1
		equals=true
	[/variable]
	[then]
		{SET_LABEL 7  15 "<span font='30'>Defeated</span>"}
	[/then]
	[/if]
	[if]
	[variable]
		name=show_defeated_label_2
		equals=true
	[/variable]
	[then]
		{SET_LABEL 17 7  "<span font='28'>Defeated</span>"}
	[/then]
	[/if]
	[if]
	[variable]
		name=show_defeated_label_3
		equals=true
	[/variable]
	[then]
		{SET_LABEL 20 18  "<span font='28'>Defeated</span>"}
	[/then]
	[/if]

	[if]
	[variable]
		name=preview_turn
		greater_than_equal_to=$turn_number
	[/variable]
	[then]
		{WOL_VS_SURVIVAL_SET_LABEL_VISIBLE_ALWAYS 15 13  (_"Turn"+" $preview_turn: $preview_label       ") }
	[/then]
	[else]
		{WOL_VS_SURVIVAL_SET_LABEL_VISIBLE_ALWAYS 15 13  "" }
	[/else]
	[/if]

	{WOL_VS_SURVIVAL_MAKE_HERO_IF_LAST_SURVIVING_TEAM 1}
	{WOL_VS_SURVIVAL_MAKE_HERO_IF_LAST_SURVIVING_TEAM 2}
	{WOL_VS_SURVIVAL_MAKE_HERO_IF_LAST_SURVIVING_TEAM 3}

	{VARIABLE remove_labels_1 -1}
	{VARIABLE remove_labels_2 -1}
	{VARIABLE remove_labels_3 -1}
#enddef

[event]
	name=spawn
	first_time_only=no

	{WOL_VS_SURVIVAL_CALCULATE_TRANSFORMS $xs $ys}

	{WOL_VS_SURVIVAL_IF_LEADER_IS_ALIVE 1 ({WOL_VS_SURVIVAL_SET_LABEL_NO_FOG $x1 $y1 $wave_unit.language_name}) }
	{WOL_VS_SURVIVAL_IF_LEADER_IS_ALIVE 2 ({WOL_VS_SURVIVAL_SET_LABEL_NO_FOG $x2 $y2 $wave_unit.language_name}) }
	{WOL_VS_SURVIVAL_IF_LEADER_IS_ALIVE 3 ({WOL_VS_SURVIVAL_SET_LABEL_NO_FOG $x3 $y3 $wave_unit.language_name}) }

	#remove preview labels when a leader dies
	[if]
	[variable]
		name=remove_labels_1
		equals=$preview_turn
	[/variable]
	[then]
		{WOL_VS_SURVIVAL_SET_LABEL_NO_FOG $x1 $y1 "" }
	[/then]
	[/if]
	[if]
	[variable]
		name=remove_labels_2
		numerical_equals=$preview_turn
	[/variable]
	[then]
		{WOL_VS_SURVIVAL_SET_LABEL_NO_FOG $x2 $y2 "" }
	[/then]
	[/if]
	[if]
	[variable]
		name=remove_labels_3
		numerical_equals=$preview_turn
	[/variable]
	[then]
		{WOL_VS_SURVIVAL_SET_LABEL_NO_FOG $x3 $y3 "" }
	[/then]
	[/if]

	[if]
	[variable]
		name=turn_number
		equals=$preview_turn
	[/variable]
	[and]
	[variable]
		name=side_number
		equals=4
	[/variable]
	[/and]
	[then]
		{WOL_VS_SURVIVAL_SET_LABEL_NO_FOG $x1 $y1 "" }
		{WOL_VS_SURVIVAL_SET_LABEL_NO_FOG $x2 $y2 "" }
		{WOL_VS_SURVIVAL_SET_LABEL_NO_FOG $x3 $y3 "" }
		{VARIABLE preview_label_update true}

		{WOL_VS_SURVIVAL_IF_LEADER_IS_ALIVE 1 ({WOL_VS_SURVIVAL_PLACE_WAVE_UNIT 4 $x1 $y1}) }

		#push enemies to the right if hex is occupied to avoid going through wall to other side
		[if]
		[have_unit]
			x=$x3
			y=$y3
		[/have_unit]
		[then]
			{VARIABLE_OP x3 add 1}
		[/then]
		[/if]

		{WOL_VS_SURVIVAL_IF_LEADER_IS_ALIVE 2 ({WOL_VS_SURVIVAL_PLACE_WAVE_UNIT 4 $x2 $y2}) }
		{WOL_VS_SURVIVAL_IF_LEADER_IS_ALIVE 3 ({WOL_VS_SURVIVAL_PLACE_WAVE_UNIT 4 $x3 $y3}) }
	[/then]
	[/if]

	#show defeated/victory labels and crown units of winner
	{WOL_VS_SURVIVAL_LABELS_3P}

	{CLEAR_VARIABLE (x1,x2,x3,y1,y2,y3)}
[/event]

#get enemy waves
	{WOL_VS_SURVIVAL_MODDABLE_WAVES_EVENT}

#see if a side has won
	[event]
		name=die
		first_time_only=no

		[if]
		[have_unit]
			side=4
			count=1
		[/have_unit]
		[and]
		[variable] #check that last spawn has happened
			name=turn_number
			greater_than_equal_to=36
		[/variable]
		[/and]
		[then]
			{WOL_VS_SURVIVAL_CHECK_SIDE_WON_3P  1 2 3 (
				{FLASH_WHITE ()}
				{SET_LABEL 7  15 "<span font='38'>Winner</span>"}
				{VARIABLE player1_survival_outcome "Winner (turn $turn_number|)"}
				[kill]
					side=4
				[/kill]
			)}
			{WOL_VS_SURVIVAL_CHECK_SIDE_WON_3P 2 1 3 (
				{FLASH_WHITE ()}
				{SET_LABEL 17 7  "<span font='38'>Winner</span>"}
				{VARIABLE player2_survival_outcome "Winner (turn $turn_number|)"}
				[kill]
					side=4
				[/kill]
			)}
			{WOL_VS_SURVIVAL_CHECK_SIDE_WON_3P  3 1 2 (
				{FLASH_WHITE ()}
				{SET_LABEL 20 18 "<span font='38'>Winner</span>"}
				{VARIABLE player3_survival_outcome "Winner (turn $turn_number|)"}
				[kill]
					side=4
				[/kill]
			)}
		[/then]
		[/if]
	[/event]

#make AI progressively "smarter" up to turn 5
	{WOL_VS_SURVIVAL_INCREASE_AI_ATTACK_DEPTH_EVENTS 4}

#move towards leader if all units of a particular side are hidden (ambushed, submerged, etc.)
	[event]
		name=side 4 turn
		first_time_only=no

		{WOL_VS_SURVIVAL_GO_FOR_HIDDEN_LEADER 1 4}
		{WOL_VS_SURVIVAL_GO_FOR_HIDDEN_LEADER 2 4}
		{WOL_VS_SURVIVAL_GO_FOR_HIDDEN_LEADER 3 4}
	[/event]

#if last team to survive recruits, add a crown to that unit as well
	{WOL_VS_SURVIVAL_RECRUIT_HERO_EVENT}

#make a brief flash appear across the screen if a leader dies
	[event]
		name=last breath,petrified
		first_time_only=no

		[filter]
			canrecruit=yes
		[/filter]

		{FLASH_WHITE ()}
	[/event]

#define WOL_VS_SURVIVAL_FIND_LAST_SURVIVING_TEAM_3P SIDE1 SIDE2
	[if]
	[have_unit]
		side={SIDE1}
		canrecruit=yes
	[/have_unit]
	[then]
		[if]
		[have_unit]
			side={SIDE2}
			canrecruit=yes
		[/have_unit]
		[then]
		[/then]
		[else]
			{VARIABLE last_surviving_team {SIDE1}}
		[/else]
		[/if]
	[/then]
	[/if]
#enddef

#when a leader dies, petrify all their units
	[event]
		name=die,petrified
		first_time_only=no

		[filter]
			canrecruit=yes
			side=1,2,3
		[/filter]

		{VARIABLE player$unit.side|_survival_outcome "Defeated (Turn $turn_number|)"}

		[if]
		[variable]
			name=unit.side
			numerical_equals=1
		[/variable]
		[then]
			{VARIABLE remove_labels_1 $preview_turn}
			{VARIABLE show_defeated_label_1 true}
			{WOL_VS_SURVIVAL_FIND_LAST_SURVIVING_TEAM_3P  2 3}
			{WOL_VS_SURVIVAL_FIND_LAST_SURVIVING_TEAM_3P  3 2}

			#see if side is last one to go down
			{WOL_VS_SURVIVAL_CHECK_SIDE_WON_3P 4  2 3 (
				{VARIABLE player$unit.side|_survival_outcome "Last to be defeated (turn $turn_number|)"}
			)}
		[/then]
		[else]
			[if]
			[variable]
				name=unit.side
				numerical_equals=2
			[/variable]
			[then]
				{VARIABLE remove_labels_2 $preview_turn}
				{VARIABLE show_defeated_label_2 true}
				{WOL_VS_SURVIVAL_FIND_LAST_SURVIVING_TEAM_3P  3 1}
				{WOL_VS_SURVIVAL_FIND_LAST_SURVIVING_TEAM_3P  1 3}

				#see if side is last one to go down
				{WOL_VS_SURVIVAL_CHECK_SIDE_WON_3P 4  1 3 (
					{VARIABLE player$unit.side|_survival_outcome "Last to be defeated (turn $turn_number|)"}
				)}
			[/then]
			[else]
				{VARIABLE remove_labels_3 $preview_turn}
				{VARIABLE show_defeated_label_3 true}
				{WOL_VS_SURVIVAL_FIND_LAST_SURVIVING_TEAM_3P  1 2}
				{WOL_VS_SURVIVAL_FIND_LAST_SURVIVING_TEAM_3P  2 1}

				#see if side is last one to go down
				{WOL_VS_SURVIVAL_CHECK_SIDE_WON_3P 4  1 2 (
					{VARIABLE player$unit.side|_survival_outcome "Last to be defeated (turn $turn_number|)"}
				)}
			[/else]
			[/if]
		[/else]
		[/if]

		{MODIFY_UNIT side=$unit.side status.petrified "yes"}
		{MODIFY_UNIT side=$unit.side side 5}

		[if]
		[variable]
			name=side_number
			numerical_not_equals=4
		[/variable]
		[then]
			{WOL_VS_SURVIVAL_WAVES}  #to get rid of any extra labels and
			{WOL_VS_SURVIVAL_LABELS_3P} #add victory/defeat labels

			[if]
			[have_unit]
				side=1,2,3
				canrecruit=yes
			[/have_unit]
			[then]
				[end_turn][/end_turn]
			[/then]
			[/if]
		[/then]
		[/if]
	[/event]

#on defeat, show how each player went
	[event]
		name=defeat

		[store_side]
			side=1
			variable=side1
		[/store_side]
		[store_side]
			side=2
			variable=side2
		[/store_side]
		[store_side]
			side=3
			variable=side3
		[/store_side]

		{MESSAGE narrator (units/human-peasants/peasant-idle-2.png) (_ "Game statistics") (_ "$side1.name|:  <span color='#9999FF'>$player1_survival_outcome|</span>
$side2.name|:  <span color='#9999FF'>$player2_survival_outcome|</span>
$side3.name|:  <span color='#9999FF'>$player3_survival_outcome|</span>")}

		{CLEAR_VARIABLE (side1,side2,side3)}
	[/event]

[/multiplayer]

#undef WOL_VS_SURVIVAL_FIND_LAST_SURVIVING_TEAM_3P
#undef WOL_VS_SURVIVAL_3P_MAP_OPEN_MIDDLE
