#textdomain wesnoth-units

#define VS_SURVIVAL_VERSION
2.5.0#enddef

#define START_SETTINGS
	{MORNING}
	{AFTERNOON}
	{DUSK}
	{FIRST_WATCH}
	{SECOND_WATCH}
	{DAWN}

	{DEFAULT_MUSIC_PLAYLIST}

	turns="-1"
	experience_modifier=70%

	victory_when_enemies_defeated=yes
	random_start_time=no
#enddef

#define START_DESCRIPTION PLAYERS
description= _ "{PLAYERS} - vs Survival

Last longer than your opponent to win.
Enemy spawns come around every 3 turns until around turn 40, where the middle opens up.

Created by: Coffee"
#enddef

#define SURVIVAL_OBJECTIVES SUMMARY
	[objectives]
		summary= _ "{SUMMARY}
"
	[objective]
		description= _ "Survive longer than your opponent."
		condition=win
	[/objective]
	[objective]
		description= _ "Beat all the waves (not necessary though)."
		condition=win
	[/objective]
	[objective]
		description= _ "Your leader is defeated before your opponent's leader."
		condition=lose
	[/objective]

	[note]
		description=_"Enemies come every 3 or so turns until turn 40, where the middle opens up."
	[/note]
	[note]
		description=_"You only have to last longer than you opponent. The enemies are tough and
defeating all the waves is supposed to be a secondary objective."
	[/note]
	[note]
		description=_"Enemies come at the end of the turn displayed."
	[/note]
	[note]
		description=_"Ambushing/submerging only your leader will not work."
	[/note]
	[note]
		description=_"Switch on fog if you do not want to see the enemy position labels."
	[/note]

	note= _ "
<span color='#9999FF'>Created by Coffee  (Version {VS_SURVIVAL_VERSION}</span>)"
	[/objectives]
#enddef

#define PLAYER_SIDE SIDE COLOR
	[side]
		side={SIDE}
		canrecruit=yes
		controller=human
		controller_lock=no
		team_name=Combatants
        team_lock=true
		gold=100
		fog=no
		income=2
		village_gold=2
		share_view=yes
		color={COLOR}
	[/side]
#enddef

#define AI_SIDE SIDE COLOR
	[side]
		side={SIDE}
		canrecruit=no
		no_leader=yes
		controller=ai
        allow_player=no
		team_name=Enemies
		team_lock=true
		disallow_observers=yes
		gold=100
		fog=no
		shroud=no
		income=0
		village_gold=2
		color={COLOR}
		[ai]
			grouping="offensive"
			aggression=1.0
			caution=-1.5
			#initially set attack depth low so not to try to kill leader on first turn
			attack_depth=1
		[/ai]
	[/side]
#enddef

#define PETRIFIED_SIDE SIDE
#side for petrified units when leader dies (so that the turn ends automatically)
	[side]
		side={SIDE}
		canrecruit=no
		no_leader=yes
		hidden=true
		controller=ai
        allow_player=no
		user_team_name=Petrified_Units
		team_name=Enemies
		team_lock=true
		disallow_observers=yes
		fog=no
		shroud=no
		color=black
	[/side]
#enddef

#define SET_LABEL_WML X Y TEXT WML1 WML2
	[label]
		x={X}
		y={Y}
		text={TEXT}
		{WML1}
		{WML2}
	[/label]
#enddef

#define SET_COLORED_LABEL_WML X Y TEXT WML
	{VARIABLE t1 $preview_turn} {VARIABLE_OP t1 add 1} {VARIABLE_OP t1 add -$turn_number}
	[if]
	[variable]
		name=t1
		less_than_equal_to=0
	[/variable]
	[then]
		{VARIABLE t1 1}
	[/then]
	[/if]
	{VARIABLE t2 225} {VARIABLE_OP t2 divide $t1}
	{VARIABLE t1 255} {VARIABLE_OP t1 add   -$t2}

	{SET_LABEL_WML {X} {Y} {TEXT} (color=255,$t1,40) {WML}}

	{CLEAR_VARIABLE (t1,t2)}
#enddef

#define SET_LABEL_NO_FOG X Y TEXT
	[store_side]
		side=1
		variable=side1
	[/store_side]

	[if]
	[variable]
		name=side1.fog
		not_equals="yes"
	[/variable]
	[then]
		{SET_COLORED_LABEL_WML {X} {Y} ({TEXT}) ()}
	[/then]
	[/if]

	{CLEAR_VARIABLE side1}
#enddef

#define SET_LABEL_VISIBLE_ALWAYS X Y TEXT
	{SET_COLORED_LABEL_WML {X} {Y} {TEXT} (visible_in_fog,visible_in_shroud=yes,yes)}
#enddef

#define HIDDEN_LEADER SIDE X Y
	[unit]
		side={SIDE}
		type="Peasant"
		name="Coordinator"
		canrecruit=yes
		x={X}
		y={Y}
		placement=map
		overwrite=yes
		[abilities]
		[hides]
			id=hidden
			name= _ "hidden"
			female_name= _ "female^hidden"
			name_inactive= _ "hidden"
			female_name_inactive= _ "female^hidden"
			description= _ "This unit is hidden."
			affect_self=yes
			[filter_self]
				[filter_location]
					terrain=*
				[/filter_location]
			[/filter_self]
		[/hides]
		[/abilities]
	[/unit]
#enddef

#define NOTRAIT_UNIT_WML SIDE TYPE X Y WML
	[unit]
		side={SIDE}
		type={TYPE}
		x={X}
		y={Y}
		generate_name=yes
		random_traits=no
		random_gender=yes
		{WML}
	[/unit]
#enddef

#define SET_TEAM SIDE TEAM
	[modify_side]
		side={SIDE}
		team_name={TEAM}
	[/modify_side]
	[redraw]
		side={SIDE}
	[/redraw]
#enddef

#define MODIFY_AI_ATTACK_DEPTH SIDE DEPTH
	[modify_side]
		side={SIDE}
		[ai]
			attack_depth={DEPTH}
		[/ai]
	[/modify_side]
#enddef

#define INCREASE_AI_ATTACK_DEPTH_EVENTS SIDE
	[event]
        name=turn 2
        {MODIFY_AI_ATTACK_DEPTH {SIDE} 2}
    [/event]
	[event]
        name=turn 4
        {MODIFY_AI_ATTACK_DEPTH {SIDE} 3}
    [/event]
	[event]
        name=turn 6
        {MODIFY_AI_ATTACK_DEPTH {SIDE} 4}
    [/event]
	[event]
        name=turn 8
        {MODIFY_AI_ATTACK_DEPTH {SIDE} 5}
    [/event]
#enddef

#define MAKE_HERO_IF_LAST_SURVIVING_TEAM SIDE
	[if]
	[variable]
		name=last_surviving_team
		equals={SIDE}
	[/variable]
	[then]
		{MODIFY_UNIT side,canrecruit={SIDE},"no" overlays "misc/hero-icon.png"}
	[/then]
	[/if]
#enddef

#define RECRUIT_HERO_EVENT
	[event]
		name=recruit,recall
		first_time_only=no

		[if]
		[variable]
			name=last_surviving_team
			equals=$unit.side|
		[/variable]
		[then]
			{MODIFY_UNIT x,y=$x1,$y1 overlays "misc/hero-icon.png"}
		[/then]
		[/if]
	[/event]
#enddef

#define IF_LEADER_IS_ALIVE SIDE WML
	[if]
	[have_unit]
		side={SIDE}
		canrecruit=yes
	[/have_unit]
	[then]
		{WML}
	[/then]
	[/if]
#enddef

#define GO_FOR_HIDDEN_LEADER SIDE ENEMY_SIDE
	[store_unit]
		[filter]
			side={SIDE}
			[filter_vision]
				visible="no"
				side={ENEMY_SIDE}
			[/filter_vision]
	       [/filter]
	       variable=player_unit
	       kill=no
	[/store_unit]

	{VARIABLE player_unit_count 0}
	{FOREACH player_unit pu}
		{VARIABLE_OP player_unit_count add 1}
	{NEXT pu}

	{VARIABLE side_var {SIDE}}

	{MODIFY_AI_TRY_DELETE_CANDIDATE_ACTION {ENEMY_SIDE} main_loop go_for_hidden_leader$side_var|}

	[if]
	[variable]
		name=player_unit_count
		greater_than=0
	[/variable]
	[and]
	[have_unit]
		side={SIDE}
	count=$player_unit_count
	[/have_unit]
	[/and]
	[then]
		[store_unit]
			variable=player_leader
			[filter]
				side={SIDE}
				canrecruit=yes
			[/filter]
		[/store_unit]

		{MODIFY_AI_ADD_CANDIDATE_ACTION {ENEMY_SIDE} main_loop (
			[candidate_action]
				id=go_for_hidden_leader$side_var|
				engine=fai
				name=go_for_hidden_leader$side_var|
				type=movement
				evaluation="if(next_hop(me.loc,loc($player_leader.x,$player_leader.y))=null,0,if(unit_at(next_hop(me.loc,loc($player_leader.x,$player_leader.y)))=null, {AI_CA_COMBAT_SCORE}-10 ,0))"
				action="move(me.loc,next_hop(me.loc,loc($player_leader.x,$player_leader.y)))"
            [/candidate_action]

			{CLEAR_VARIABLE player_leader}
        )}
	[/then]
	[/if]

	{CLEAR_VARIABLE (player_unit,player_unit_count,side_var)}
#enddef

