#textdomain wesnoth

#define WOL_EFFECT APPLICATION ADJUSTMENT ARG X Y
    [object]
        silent=yes
        [filter]
            x,y={X},{Y}
        [/filter]
        [effect]
            apply_to={APPLICATION}
            {ADJUSTMENT}={ARG}
        [/effect]
    [/object]
#enddef

#define WOL_EMPOWERMENT SIDE X Y
    [if]
        [have_unit]
            x,y={X},{Y}
            side={SIDE}
        [/have_unit]
        [then]
            {RANDOM 1..5}
            [switch]
                variable=random
                [case]
                    value=1
                    # RESIST MAGIC/ELEMENTS

                    {VARIABLE bonus_desc (_"vs_magic")}
                    [object]
                        silent=yes
                        [filter]
                            x,y={X},{Y}
                        [/filter]
                        [effect]
                            apply_to=resistance
                            replace=no
                            [resistance]
                                cold=-$bonus.$bonus_desc
                            [/resistance]
                        [/effect]
                        [effect]
                            apply_to=resistance
                            replace=no
                            [resistance]
                                fire=-$bonus.$bonus_desc
                            [/resistance]
                        [/effect]
                        [effect]
                            apply_to=resistance
                            replace=no
                            [resistance]
                                arcane=-$bonus.$bonus_desc
                            [/resistance]
                        [/effect]
                    [/object]
                [/case]
                [case]
                    value=2
                    # RESIST WEAPONS

                    {VARIABLE bonus_desc "vs_weapons"}
                    [object]
                        silent=yes
                        [filter]
                            x,y={X},{Y}
                        [/filter]
                        [effect]
                            apply_to=resistance
                            replace=no
                            [resistance]
                                blade=-$bonus.$bonus_desc
                            [/resistance]
                        [/effect]
                        [effect]
                            apply_to=resistance
                            replace=no
                            [resistance]
                                impact=-$bonus.$bonus_desc
                            [/resistance]
                        [/effect]
                        [effect]
                            apply_to=resistance
                            replace=no
                            [resistance]
                                pierce=-$bonus.$bonus_desc
                            [/resistance]
                        [/effect]
                    [/object]
                [/case]
                [case]
                    value=3
                    # HP BONUS
                    {VARIABLE bonus_desc "hp"}
                    {WOL_EFFECT hitpoints increase_total $bonus.$bonus_desc {X} {Y}}
                    {WOL_EFFECT hitpoints increase $bonus.$bonus_desc {X} {Y}}
                [/case]
                [case]
                    value=4
                    # DAMAGE BONUS
                    {VARIABLE bonus_desc "damage"}
                    {WOL_EFFECT attack increase_damage $bonus.$bonus_desc {X} {Y}}
                [/case]
                [case]
                    value=5
                    # MOVES BONUS
                    {VARIABLE bonus_desc "moves"}
                    {WOL_EFFECT movement increase $bonus.$bonus_desc {X} {Y}}
                [/case]
            [/switch]
            {SET_LABEL {X} {Y} $bonus_desc}
        [/then]
    [/if]
#enddef

#define WOL_CLEAR_BONUS_LABELS
    {SET_LABEL 13 10 ""}
    {SET_LABEL 14 9 ""}
    {SET_LABEL 14 10 ""}
    {SET_LABEL 15 10 ""}
    {SET_LABEL 12 11 ""}
    {SET_LABEL 12 12 ""}
    {SET_LABEL 13 12 ""}
    {SET_LABEL 13 13 ""}
    {SET_LABEL 15 12 ""}
    {SET_LABEL 15 13 ""}
    {SET_LABEL 16 11 ""}
    {SET_LABEL 16 12 ""}
#enddef
