#textdomain wesnoth-units

#define SURVIVAL_WAVES
	{NEW_WAVE 1 (_"Scouts") (
		{SPAWN "Footpad"               6  4}
		{SPAWN "Cavalryman"            10 5}
		{SPAWN "Woodsman"              3  7}
		{SPAWN "Peasant"               7  5}
		{SPAWN "Vampire Bat"           11 5}
	)}
	{NEW_WAVE 4 (_"Thieves & Thugs") (
		{SPAWN "Thief"                 6  4}
		{SPAWN "Young Ogre"            11 7}
		{SPAWN "Thug"                  7  5}
		{SPAWN "Poacher"               10 5}
		{SPAWN "Ruffian"               3  7}
	)}
	{NEW_WAVE 7 (_"Loyalists") (
		{SPAWN "Fencer"                6  4}
		{SPAWN "Merman Fighter"        9  6}
		{SPAWN "Lieutenant"            7  5}
		{SPAWN "Heavy Infantryman"     3  7}
		{SPAWN "Bowman"                11 7}
	)}
	{NEW_WAVE 10 (_"Orcs") (
		{SPAWN "Orcish Assassin"       6  4}
		{SPAWN "Orcish Crossbowman"    11 7}
		{SPAWN "Troll"                 7  5}
		{SPAWN "Naga Fighter"          9  6}
		{SPAWN "Orcish Grunt"          3  7}
		{SPAWN_WML "Goblin Impaler"    11 12 ([modifications]{TRAIT_WEAK}[/modifications]) }
	)}
	{NEW_WAVE 13 (_"Elves") (
		{SPAWN_WML "Elvish Lord"       7  5  ([modifications]{TRAIT_AGED}[/modifications])}
		{SPAWN "Elvish Ranger"         6  4}
		{SPAWN "Merman Netcaster"      9  6}
		{SPAWN "Elvish Scout"          7  4}
		{SPAWN "Elvish Fighter"        11 7}
		{SPAWN "Wose"                  3  7}
	)}
	{NEW_WAVE 16 (_"Dwarves") (
		{SPAWN "Dwarvish Ulfserker"    6  4}
		{SPAWN "Dwarvish Scout"        11 7}
		{SPAWN "Dwarvish Stalwart"     8  5}
		{SPAWN "Dwarvish Steelclad"    7  5}
		{SPAWN "Gryphon Rider"         10 4}
		{SPAWN "Dwarvish Thunderguard" 3  7}
	)}
	{NEW_WAVE 19 (_"Drakes") (
		{SPAWN "Drake Blademaster"     6  4}
		{SPAWN "Drake Glider"          11 5}
		{SPAWN "Drake Fighter"         8  5}
		{SPAWN "Drake Flare"           7  5}
		{SPAWN "Drake Arbiter"         3  7}
		{SPAWN "Drake Burner"          2  12}
	)}
	{NEW_WAVE 22 (_"Undead") (
		{SPAWN "Deathblade"            6  4}
		{SPAWN "Death Knight"          7  5}
		{SPAWN "Dark Sorcerer"         8  5}
		{SPAWN "Walking Corpse"        5  5}
		{SPAWN_WML "Walking Corpse"    9  6  (variation=drake)}
		{SPAWN_WML "Walking Corpse"    11 13 (variation=swimmer)}
		{SPAWN "Bone Shooter"          11 7}
		{SPAWN "Necrophage"            3  7}
		{SPAWN "Ghost"                 2  12}
	)}
	{NEW_WAVE 25 (_"Mages") (
		{SPAWN "Mermaid Priestess"     9  6}
		{SPAWN "Paladin"               7  4}
		{SPAWN "Saurian Soothsayer"    6  4}
		{SPAWN "Elvish Druid"          7  5}
		{SPAWN "Troll Shaman"          11 7}
		{SPAWN "White Mage"            3  7}
	)}
	{NEW_WAVE 28 (_"Monsters") (
		{SPAWN "Water Serpent"         9  6}
		{SPAWN "Giant Spider"          7  4}
		{SPAWN "Giant Scorpling"       7  5}
		{SPAWN "Saurian Skirmisher"    6  4}
		{SPAWN "Direwolf"              3  5}
		{SPAWN "Giant Mudcrawler"      3  7}
		{SPAWN "Chocobone"             11 6}
		{SPAWN "Cuttle Fish"           11 13}
		{SPAWN "Giant Rat"             2  11}
	)}
	{NEW_WAVE 31 (_"Master Fighters") (
		{SPAWN "Elvish Champion"       7  5}
		{SPAWN "Master at Arms"        11 6}
		{SPAWN "Royal Guard"           8  5}
		{SPAWN "Royal Warrior"         3  7}
	)}
	{NEW_WAVE 35 (_"Final Wave") (
		{SPAWN "Inferno Drake"         6  4}
		{SPAWN "Elvish Sylph"          7  5}
		{SPAWN "Lich"                  11 7}
		{SPAWN "Yeti"                  8  5}
		{SPAWN "Dwarvish Arcanister"   3  7}
	)}
	{MIDDLE_OPENS 40}
#enddef

#define MIDDLE_OPENS TURN
	{VARIABLE map_open_middle_turn {TURN}}
	{NEW_WAVE {TURN} (_"Middle Opens") ()}
#enddef

#define MAP_OPEN_MIDDLE_EVENT
[event]
	name=new turn
	first_time_only=no

	{IF_VAR turn_number equals $map_open_middle_turn (
	[then]
		{MAP_OPEN_MIDDLE}
	[/then]
	)}
[/event]
#enddef

#define MODDABLE_WAVES_EVENT
	[event]
		name=side turn
		first_time_only=no
		
		{IF_VAR wave_mod not_equals yes (
		[then]
			{SURVIVAL_WAVES}
		[/then]
		)}
	[/event]
#enddef

#define NEW_WAVE TURN SPAWN_PREVIEW_LABEL SPAWNS
#preview label
	[if]
	[variable]
		name=preview_label_update
		boolean_equals=true
	[/variable]
	[then]
		{VARIABLE preview_label {SPAWN_PREVIEW_LABEL}}
		{VARIABLE preview_turn  {TURN}}
		{VARIABLE preview_label_update false}
	[/then]
	[/if]

#put enemies and preview ememy spawn labels on map
	[if]
	[variable]
		name=preview_turn
		equals={TURN}
	[/variable]
	[then]
		{SPAWNS}
	[/then]
	[/if]
#enddef

#define SPAWN TYPE X Y
	{DO_SPAWN {TYPE} {X} {Y} ()}
#enddef

#define SPAWN_WML TYPE X Y WML
	{DO_SPAWN {TYPE} {X} {Y} {WML}}
#enddef

#define DO_SPAWN TYPE X Y WML
	{VARIABLE xs {X}}
	{VARIABLE ys {Y}}
	[unit]
		to_variable=wave_unit
		type={TYPE}
		random_traits=no
		random_gender=yes
		{WML}
	[/unit]
	[fire_event]
		name=spawn
	[/fire_event]
#enddef

#define PLACE_WAVE_UNIT SIDE X Y
	{VARIABLE wave_unit.side {SIDE}}
	[unstore_unit]
		variable=wave_unit
		find_vacant=yes
		x={X}
		y={Y}
	[/unstore_unit]
	#fix up duplicate IDs for multiple unstores
	[unit]
		to_variable=temp_unit
		type=$wave_unit.type
		random_traits=no
		gender=$wave_unit.gender
	[/unit]
	{VARIABLE wave_unit.id $temp_unit.id}
	{VARIABLE wave_unit.underlying_id $temp_unit.underlying_id}
	{CLEAR_VARIABLE temp_unit}
#enddef


