#textdomain wesnoth
#Spawning macros for Orocia and Deep Shrine

#define WOL_UNIT TYPE X Y
    [unit]
        side=4
        type={TYPE}
        x={X}
        y={Y}
        moves=0
        random_traits=no
        placement=map
        passable=yes
    [/unit]
#enddef

#define WOL_BORDER_1 TYPE
    {WOL_UNIT {TYPE} 6 18}
    {WOL_UNIT {TYPE} 25 14}
    {WOL_UNIT {TYPE} 11 2}
#enddef

#define WOL_BORDER_2 TYPE
    {WOL_UNIT {TYPE} 6 18}
    {WOL_UNIT {TYPE} 25 14}
    {WOL_UNIT {TYPE} 11 2}
    {WOL_UNIT {TYPE} 18 20}
    {WOL_UNIT {TYPE} 21 4}
    {WOL_UNIT {TYPE} 3 10}
#enddef

#define WOL_LAND_A_1 TYPE
    {WOL_UNIT {TYPE} 3 14}
    {WOL_UNIT {TYPE} 22 18}
    {WOL_UNIT {TYPE} 17 2}
#enddef

#define WOL_LAND_A_2 TYPE
    {WOL_UNIT {TYPE} 4 16}
    {WOL_UNIT {TYPE} 3 13}
    {WOL_UNIT {TYPE} 21 19}
    {WOL_UNIT {TYPE} 24 16}
    {WOL_UNIT {TYPE} 18 2}
    {WOL_UNIT {TYPE} 14 2}
#enddef

#define WOL_LAND_A_3 TYPE
    {WOL_UNIT {TYPE} 3 12}
    {WOL_UNIT {TYPE} 3 15}
    {WOL_UNIT {TYPE} 5 17}
    {WOL_UNIT {TYPE} 20 19}
    {WOL_UNIT {TYPE} 23 18}
    {WOL_UNIT {TYPE} 24 15}
    {WOL_UNIT {TYPE} 19 3}
    {WOL_UNIT {TYPE} 16 2}
    {WOL_UNIT {TYPE} 13 2}
#enddef

#define WOL_LAND_B_1 TYPE
    {WOL_UNIT {TYPE} 11 21}
    {WOL_UNIT {TYPE} 25 8}
    {WOL_UNIT {TYPE} 5 5}
#enddef

#define WOL_LAND_B_2 TYPE
    {WOL_UNIT {TYPE} 10 20}
    {WOL_UNIT {TYPE} 13 21}
    {WOL_UNIT {TYPE} 25 9}
    {WOL_UNIT {TYPE} 24 6}
    {WOL_UNIT {TYPE} 6 4}
    {WOL_UNIT {TYPE} 4 6}
#enddef

#define WOL_LAND_B_3 TYPE
    {WOL_UNIT {TYPE} 9 20}
    {WOL_UNIT {TYPE} 15 21}
    {WOL_UNIT {TYPE} 12 20}
    {WOL_UNIT {TYPE} 24 7}
    {WOL_UNIT {TYPE} 25 10}
    {WOL_UNIT {TYPE} 23 5}
    {WOL_UNIT {TYPE} 7 4}
    {WOL_UNIT {TYPE} 5 6}
    {WOL_UNIT {TYPE} 3 8}
#enddef

#define WOL_WAVE TURN_NUMBER WAVE_ACTIONS
    [event]
        name=turn refresh
        first_time_only=no
        [if]
            [variable]
                name=side_number
                equals=1
            [/variable]
            [and]
                [variable]
                    name=turn_number
                    equals={TURN_NUMBER}
                [/variable]
            [/and]
            [then]
                {WAVE_ACTIONS}
                {SET_LABEL 14 0 "$next_wave_label"}
                {SET_LABEL 14 21 "$next_wave_label"}
            [/then]
        [/if]
    [/event]
#enddef
